img {
    width: 400px;
    margin: 20px 20px;
}

.rounded-img {
    border-radius: 15px;
}

.square-img {
    height: 260px;
    width: 260px;
    object-fit: cover;
    object-position: center;

}

.circle-img {
    height: 260px;
    width: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 130px;
}